* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(217, 222, 224);
    text-align: center;
}

fieldset {
    padding: 20px 15px;
    font-size: 17px;
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin-left: 22%;
    margin-bottom: 16px;
}

fieldset div {
    margin: 20px auto;
    text-align: justify;
    font-size: 12px;
    font-weight: normal;
}

fieldset div input {
    border-radius: 3px;
    border: 1px solid rgb(189, 185, 185);
}

fieldset div textarea {
    border-radius: 3px;
    border: 1px solid rgb(189, 185, 185);
}

fieldset div input[type='text'] {
    width: 45%;
}

fieldset div input[type='email'] {
    width: 45%;
}

#job-abstract {
    width: 95%;
    height: 150px;
}

#role-abstract {
    width: 95%;
    height: 100px;
}