
      body {
        font-size: 16px;
      }

        h1 {
            color: orange;
           width: 65px;
           font-family: sans-serif;
        }

        #paragrafo {
          font-weight: 600;
          font-size: 3em;
        }

        #color-list {
            font-style: italic;
            line-height: 30px;
            text-align: center;
            font-weight: 800;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .change-color {
            background-color: yellowgreen;
        }

        #amarelo {
          background-color: yellow;
        }

        #vermelho {
          background-color: red;
        }

        #marrom {
          background-color: sienna;
        }