body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-roll {
    border: 1px solid black;
    background-color: black;
    padding: 10px;
}

.navigation {
    margin: 35px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navigation:hover {
    background-color: wheat;
    padding: 10px 10px;
    border-radius: 10%;
    color: black;
}